<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719392552933-hnmdqe14tmpil1h3lm8rr6thlskb4q54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719392552933-hnmdqe14tmpil1h3lm8rr6thlskb4q54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>719392552933-aq2vpqq7uu8phodns3poi60c6ba91vdh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8aEU4bMZtYrtMDB27kVOnUpsYUe11qiA</string>
	<key>GCM_SENDER_ID</key>
	<string>719392552933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mongofetch</string>
	<key>PROJECT_ID</key>
	<string>lumos-webapp-mongo</string>
	<key>STORAGE_BUCKET</key>
	<string>lumos-webapp-mongo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719392552933:ios:6832bc48a21c5b9e1ca10c</string>
	<key>DATABASE_URL</key>
	<string>https://lumos-webapp-mongo.firebaseio.com</string>
</dict>
</plist>